<script setup>
import {useRoute, useRouter} from "vue-router";

const editNote = () => {
  router.push(`/notes/${route.params.id}/edit`)
}
const route = useRoute()
const router = useRouter()
</script>

<template>
  <div class="card border rounded w-10/12">
    <div class="card-header bg-blue-100 py-3 px-1 flex items-center">
      <div class="card-title text-xl font-bold">
        <slot name="card-title"></slot>
      </div>
      <div class="card-feeling ml-10">
        <span class="font-bold">Følelse:</span> <slot name="card-feeling"></slot>
      </div>
    </div>
    <div class="p-4">
      <slot></slot>
    </div>
    <div class="card-footer py-3 px-2 border flex justify-between">
      <div class="card-created">
        <slot name="create-date"></slot>
      </div>
      <div class="card-action">
        <button @click="editNote" class="bg-blue-500 text-white py-2 px-4 rounded">Rediger</button>
      </div>
    </div>
  </div>
</template>
