<script setup>
import {onMounted, ref} from "vue";
import {useRoute, useRouter} from "vue-router";

const note = ref(null)
const route = useRoute()
const router = useRouter()

const loadNote = (id) => {
  fetch(`http://localhost/api/mindnotes/${id}`)
      .then(response => response.json())
      .then(data => {
        note.value = data.mind_note
      })
}
onMounted(() => {
  loadNote(route.params.id)
})

const cancelEdit = () => {
  router.back()
}

const updateNote = () => {
  console.log('Update note', note.value)
}

</script>

<template>
  <div v-if="note" class="EditNote  w-full lg:w-10/12">
    <div class="form-item flex flex-col lg:flex-row">
      <label for="title" class="form-label w-2/12">Tittel</label>
      <input class="w-10/12 border px-4 py-1" type="text" name="title" id="title" v-model="note.title">
    </div>
    <div class="form-item flex flex-col lg:flex-row">
      <label for="description" class="form-label w-2/12">Notat</label>
      <textarea class="p-4 w-10/12 border h-48" type="text" name="description" id="description"
                v-model="note.description"></textarea>
    </div>
    <div class="form-item flex flex-col lg:flex-row">
      <label for="feeling" class="form-label w-2/12">Følelse</label>
      <input class="w-10/12 border px-4 py-1" type="text" name="feeling" id="feeling" v-model="note.feeling">
    </div>
    <div class="flex flex-col lg:flex-row">
      <div class="w-2/12 h-0">&nbsp;</div>
      <div class="w-10/12 flex justify-end">
        <button @click="cancelEdit" class="border border-gray-400 text-gray-600 px-4 py-2 mr-2 rounded">Avbryt</button>
        <button @click="updateNote" class="bg-blue-500 text-white px-4 py-2 rounded">Oppdater</button>
      </div>
    </div>
  </div>
</template>

