<template>
<div class="card">
  <h1 class="font-bold text-2xl mb-4">Mine Notater</h1>
  <p>Hei det er en uferdig oppgave...</p>
</div>
</template>

<script>
export default {
  name: "Home"
}
</script>

<style scoped>

</style>
