<script>
import {onMounted, reactive} from "vue";
import {useRoute, useRouter} from "vue-router";

export default {
  name: "Notes",
  setup() {
    const notes = reactive({list: []})
    const loadNotes = () => {
      fetch('http://localhost/api/mindnotes')
          .then(response => response.json())
          .then(data => {
            console.log('NOTES', data.mind_notes)
            notes.list = data.mind_notes
          })
    }

    function showNote(note) {
      console.log('SHOWNOTE', note.id)
      router.push(`/notes/${note.id}`)
    }

    onMounted(() => {
      loadNotes()
    })
    const router = useRouter()
    const route = useRoute()

    return {notes, router, route, showNote}
  }

}
</script>

<template>
  <ul class="divide-y divide-gray-300 w-full lg:w-10/12">
    <li @click="showNote(note)" v-for="note in notes.list" class="p-4 cursor-pointer transition-colors hover:bg-gray-200">{{ note.title }}</li>
  </ul>
</template>

<style scoped>

</style>
