<script setup>
import {computed, onMounted, reactive, ref, watch} from "vue";
import {useRoute} from "vue-router";

const note = ref(null)
const route = useRoute()
const createdAt = computed(() => {
  const date = note.value ? note.value.created_at : null
  console.log("Date", date)
  if (date) {
    return new Date(date).toLocaleString('no')
  }
})
watch(
    () => route.params.id,
    async newId => {
      console.log('NEW ID ', newId)
      await loadNote(newId)
    })
const loadNote = (id) => {
  fetch(`http://localhost/api/mindnotes/${id}`)
      .then(response => response.json())
      .then(data => {
        console.log('NOTES', data.mind_note)
        note.value = data.mind_note
      })
}
onMounted(() => {
  loadNote(route.params.id)
})
</script>

<template>
    <Card v-if="note">
      <template #card-title>{{ note.title }}</template>
      <template #card-feeling>{{ note.feeling }}</template>
      <template #default>{{ note.description }}</template>
      <template #create-date>{{ createdAt }}</template>
    </Card>
</template>
