<script>
import {ref} from "vue";

export default {
  name: 'SideBar',
  props: {
    showSidebar: Boolean
  },
  setup(props) {
    console.log(props.showSidebar)
  }
}
</script>
<template>
  <aside :class="{'-translate-x-full': showSidebar}"
         class="sidebar w-64 md:shadow transform md:translate-x-0 transition-transform duration-150 ease-in">
    <div class="sidebar-header flex items-center justify-center py-4">
      <div class="inline-flex">
        <a href="#" class="inline-flex flex-row items-center">
          <span class="side-bar-title">Notater</span>
        </a>
      </div>
    </div>
    <div class="sidebar-content px-4 py-6">
      <ul class="flex flex-col w-full">
        <li class="my-px">
          <router-link
              to="/"
              class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-gray-700"
          >
              <span class="flex items-center justify-center text-lg text-gray-400">
                <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-6 w-6"
                >
                  <path
                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  />
                </svg>
              </span>
            <span class="ml-3">Hjem</span>
          </router-link>
        </li>
        <li class="my-px">
          <router-link
              to="/notes"
              class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              :class="'active'"
              replace
          >
              <span class="flex items-center justify-center text-lg text-gray-400">
                <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-6 w-6"
                >
                  <path d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path>
                </svg>
              </span>
            <span class="ml-3">Notater</span>
          </router-link>
        </li>
      </ul>
    </div>
  </aside>
</template>
