<script setup>

import SideBar from "./components/SideBar.vue";
import {ref} from "vue";

const showingSideBar = ref(true)
const toggleSideBar = () => {
  return showingSideBar.value = !showingSideBar.value
}
</script>

<template>
  <div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
    <SideBar :showSidebar="showingSideBar"></SideBar>
    <main class="main flex flex-col flex-grow -ml-72 md:ml-0 transition-all duration-150 ease-in h-screen">
      <header class="header py-4 px-4">
        <div class="header-content flex items-center flex-row">
          <div class="flex ml-auto">
            <button class="menu-toggle" @click="toggleSideBar">
              <span v-if="showingSideBar === true">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
</svg>
              </span>
              <span v-else-if="showingSideBar === false">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>
              </span>
            </button>
          </div>
        </div>
      </header>
      <div class="main-content flex flex-col flex-grow p-0 md:p-4">
        <router-view></router-view>
      </div>
      <footer class="footer px-4 py-6">
        <div class="footer-content">
          <p class="text-sm text-gray-600 text-center"></p>
        </div>
      </footer>
    </main>
  </div>
</template>

<style>
</style>
