@tailwind base;
@tailwind components;
@tailwind utilities;

.main-title {
    @apply text-6xl text-center
}
.sidebar {
    @apply bg-cyan-100 text-blue-900;
    min-width: 300px;
}
.side-bar-title {
    @apply text-3xl text-blue-800
}
.menu-toggle {
    @apply md:invisible
}
.form-item {
    @apply mb-3
}
